/* Main text color #434455 */
/* Secondary text color #2E2F42 */
/* Accent text color #F4F4FD */
/* Main page background #FFFFFF */
/* Box background 1 #2E2F42 */
/* Box background 2 #E7E9FC */
/* Box background 3 #F4F4FD */

:root {
  --main-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-text-color: #f4f4fd;
  --primary-brand-tcolor: #4d5ae5;
  --presed-state-color: #404bbf;
  --subtle-text-color: #8e8f99;
  --sucsses-text-color: #31d0aa;
  --box-background-action: #e7e9fc;
  --box-background-accent: #f4f4fd;
  --card-set-gap: 20px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Visually hidden  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |=================================
  | Base styles
  |=================================
**/
html {
  box-sizing: border-box;
}

/* *,
*::before,
*::after {
    box-sizing: inherit;
} */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Animation Scale 1.25 */

@keyframes animate125 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

/**
  |============================
  | Header - navigation
  |============================
**/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.logo-fst {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-sec-txt {
  color: var(--secondary-text-color);
}

.main-nav {
  display: flex;
  align-items: center;
  /* outline: 2px solid blue; */
}

.nav-menu-list {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 24px 0;
  gap: 40px;
  /* outline: 2px solid teal; */
}

.nav-menu-link {
  position: relative;
  font-weight: 500;
  padding: 24px 0;
  /* font-size: 16px; */
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link:hover,
.nav-menu-link:focus {
  color: var(--presed-state-color);
}

.active {
  color: #404bbf;
}

.active::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  /* width: 0; */
  height: 4px;
  left: 0px;
  bottom: -1px;
  background: var(--presed-state-color);
  border-radius: 2px;
  color: #404bbf;
}

.contacts-list {
  display: flex;
  margin-left: auto;
  gap: 40px;
  /* outline: 2px solid tomato; */
}

.contacts-item {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:hover,
.contacts-item:focus {
  font-size: 16px;
  color: var(--presed-state-color);
}

/**
  |=================================
  | Hero section #1
  |=================================
**/

.hero-tittle {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-box {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--secondary-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: content; */
  text-align: center;
  padding: 188px 0;
}

/* Button on hero */
.button-hero {
  display: block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--primary-brand-tcolor);
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--presed-state-color);
}

/**
  |=================================
  | Features sections #2
  |=================================
**/
.features {
  display: flex;
  gap: 24px;
}

.features-section {
  padding: 120px 0;
}

.features-title,
.projects-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.features .subcontainer {
  width: calc((100% - 3 * 24px) / 4);
}

.team-section .subcontainer {
  min-width: calc((100% - 3 * 24px) / 4);
  background: #ffffff;
  /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px; */
  /* outline: 2px solid tomato; */
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
  background: var(--accent-text-color);
  border-radius: 4px;
}

/**
  |==============================
  | What we are doing Section #3
  |==============================
**/

.doing-section {
  padding-bottom: 120px;
}

.doing,
.team {
  display: flex;
  gap: 24px;
}

.doing-tiltle,
.team-title,
.customers-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--secondary-text-color);
}

/* .team-section > .team-title {
  margin-bottom: 72px;
} */

.team-section {
  background-color: var(--box-background-accent);
}

.team-section .features-title,
.features-section .features-title {
  margin-bottom: 8px;
}

/**
  |============================
  | Our Team Section #4
  |============================
**/

.team-section {
  padding: 120px 0px;
}

.card-content {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-box {
  padding: 32px 0px;
  text-align: center;
}

.card-box .text {
  margin-bottom: 8px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.socials-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  fill: var(--accent-text-color);
  border-radius: 50%;
  background-color: var(--primary-brand-tcolor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icons:hover,
.socials-icons:focus {
  background-color: var(--presed-state-color);
}
/**
  |============================
  | Customers Section #5 
  |============================
**/

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.customers-item {
  /* width: 168px; */
  flex-basis: calc((100%-120px) / 6);
  height: 88px;
}

.customers-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  color: var(--subtle-text-color);
  fill: currentColor;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon:hover,
.customers-icon:focus {
  border-color: var(--presed-state-color);
  color: var(--presed-state-color);
}

/**
  |=================================
  | Footer section
  |=================================
**/

.footer .container .logo-fst {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 16px;
  /* outline: 2px solid tomato; */
}

.footer {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.logo-sec-footer {
  color: var(--accent-text-color);
}

.footer-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--accent-text-color);
  max-width: 264px;
}

.footer-box {
  margin-right: 120px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container .socials-media {
  display: flex;
  flex-direction: column;
}

.socials-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.socials-footer-tittle {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-socials-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  fill: var(--accent-text-color);
  border-radius: 50%;
  background-color: var(--primary-brand-tcolor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-icons:hover,
.footer-socials-icons:focus {
  background-color: var(--sucsses-text-color);
}

/**
  |=================================
  | Page#2 Portfolio section #1
  |=================================
**/

.projects-section {
  padding: 96px 0 120px;
}

.filters {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-tcolor);
  background-color: var(--box-background-accent);
  padding: 12px 24px;
  border: 1px solid var(--box-background-action);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--presed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid transparent;
}

/**
  |============================
  | Portfolio section #2
  |============================
**/

.projects-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list {
  /* flex-basis: calc((100% - 2 * 24px) / 3); */
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.projects-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  border: 1px solid var(--box-background-action);
  border-top: none;
}

.projects-content {
  padding: 32px 16px;
  margin-block-end: 0;
  border: 1px solid var(--box-background-action);
  border-top: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover,
.projects-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-content:hover,
.projects-content:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.overlay-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 40px 32px;

  color: var(--accent-text-color);
  background: #4d5ae5;
  mix-blend-mode: normal;
}

.projects-link:hover .overlay,
.projects-link:focus .overlay {
  transform: translateY(0);
}

/**
  |============================
  | Modal window
  |============================
**/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  min-width: 408px;
  min-height: 576px;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;

  cursor: pointer;
  border-radius: 50%;
  fill: var(--secondary-text-color);
  background-color: var(--box-background-action);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--presed-state-color);
  border: none;
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
